<%- include('../partials/head') %>
<%- include('../partials/header') %>


    <body background="https://imgs.search.brave.com/2kAYYb4FU60TBFhFjM6PKi4FoB3Z4xYHIY9w40DsZNE/rs:fit:263:230:1/g:ce/aHR0cHM6Ly9zbWFz/aGJvYXJkcy5jb20v/cHJveHkucGhwP2lt/YWdlPWh0dHBzOiUy/RiUyRm1lZGlhLmdp/cGh5LmNvbSUyRm1l/ZGlhJTJGM282Zko0/MlVkMXJ5bGc0ZVRT/JTJGZ2lwaHkuZ2lm/Jmhhc2g9OGIzMmI2/YjRmZmI4MGM5ZTNm/MGVlNDNkNTNjOThk/NWU">

        <h1 style="color:red">About Page</h1>
        <h5 style="color:yellow">This whole page is about eSports Championships where you can add, edit and delete games and players. It is kind of like wikipedia, but more fun</p>

    </body>


<%- include('../partials/footer') %>


