<!-- <%- include('../partials/head') %>
<%- include('../partials/header') %>

<form action="http://localhost:3000/countries/add" method="post">
	Name: <input type="text" name="country_name" />
	<button type="submit">Add Country</button>
</form>

<%- include('../partials/footer') %> -->