<%- include('../partials/head') %>
<%- include('../partials/header') %>

    <body background="https://imgs.search.brave.com/gbs-T2nsjnM2tszZXrx6rk3CE1RX-77CHmifUB4sPHc/rs:fit:1200:630:1/g:ce/aHR0cHM6Ly9pbWdp/eC5idXN0bGUuY29t/L3VwbG9hZHMvaW1h/Z2UvMjAyMS83LzI3/LzI1ZTQ1YWUzLTg1/NzQtNDhkNi05M2Ni/LWIwOGQ0MDA1MGM5/NS1wb2tlbW9uX3Vu/aXRlXy1fdGVhbV91/cF90YWtlX2Rvd25f/LV9zY3JlZW5zaG90/XzEucG5nP3c9MTIw/MCZoPTYzMCZmaXQ9/Y3JvcCZjcm9wPWZh/Y2VzJmZtPWpwZw">

        <h1 style="color:red">Home Page</h1>
        <!-- <img src = "https://imgs.search.brave.com/gbs-T2nsjnM2tszZXrx6rk3CE1RX-77CHmifUB4sPHc/rs:fit:1200:630:1/g:ce/aHR0cHM6Ly9pbWdp/eC5idXN0bGUuY29t/L3VwbG9hZHMvaW1h/Z2UvMjAyMS83LzI3/LzI1ZTQ1YWUzLTg1/NzQtNDhkNi05M2Ni/LWIwOGQ0MDA1MGM5/NS1wb2tlbW9uX3Vu/aXRlXy1fdGVhbV91/cF90YWtlX2Rvd25f/LV9zY3JlZW5zaG90/XzEucG5nP3c9MTIw/MCZoPTYzMCZmaXQ9/Y3JvcCZjcm9wPWZh/Y2VzJmZtPWpwZw"> -->
        <p></p>

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">          
            <main class="px-3">
              <h1>eSports Championships</h1>
              <h5 style="color:DarkBlue">Welcome to the eSports Championships site. This site will make you not want to click off.</p>
            </main>
          
          </div>
    </body>


<%- include('../partials/footer') %>

